body {
  margin: 0;
  padding: 0;
  background-color: #554847;
}

#root {
 padding: 35px; 
}

.exhi-article {
  color: #554847;
  background-color: #FFF;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.exhi-time span {
  display: inline-block;
  color: #685f5e;
  font-size: 12px;
  margin-right: 10px;
}

.exhi-place {
  padding: 6px 8px;
  background-color: #908b8a;
  color:#efefef;
  font-size: 13px;
}